div(class="navbar navbar-fixed-top")
	div(class="navbar-inner")
		div(class="container")
			a(class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="brand logo",href="/") 快报平台
			div(class="nav-collapse")
				ul(class="nav")
					li
						a(href="/") 今日快报
					li
						a(href="/history") 往期快报
					li(class="active")
						a(href="/share") 分享快报
					li
						a(href="/feed") 订阅快报
			a(class="powerby",href="http://veryued.org") Power by 飞长
div(class="container")
	div(class="row-fluid")
		div(class="span9")
			form(class="form-horizontal",method="post",action="/addArticle")
				fieldset
					legend 分享你的知识
					div(class="control-group")
						label(class="control-label",for="input_text") 标题
						div(class="controls")
							input(type="text",class="input-xlarge span11",id="input_title",name="input_title")
					div(class="control-group")
						label(class="control-label",for="input_url") 链接地址
						div(class="controls")
							input(type="text",class="input-xlarge span11",id="input_url",name="input_url")
					div(class="control-group")
						label(class="control-label",for="textarea") 备注
						div(class="controls")
							textarea(class="input-xlarge span11",id="textarea",rows="10",name="input_note")
					div(class="control-group")
						label(class="control-label",for="input_tag") 标签
						div(class="controls")
							input(type="text",class="input-xlarge span11",id="input_tag",name="input_tag")
					div(class="control-group")
						label(class="control-label",for="input_author") 提交者(花名)
						div(class="controls")
							input(type="text",class="input-xlarge span11",id="input_author",name="input_author")
					div(class="form-actions")
						button(type="submit",class="btn btn-primary add_btn") 添加
						button(class="btn clear_btn") 返回
						
		div(class="span3")
			table(class="table")
				thead
					tr
						td 
							h3
								分享排行榜
				tbody
					tr
						td 1. 惟明
					tr
						td 2. 飞长
					
				

script(src="../javascripts/jquery.js")
script(src="../bootstrap/js/bootstrap.min.js")